.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #068a4c;
  border: 1px solid #013a1d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #012e26;
  border-color: #01291d;
}